# Google Apps Script Web App URL
# Deploy Apps Script as Web App (Execute as: Me, Who has access: Anyone)
VITE_POS_API_URL="https://script.google.com/macros/s/YOUR_SCRIPT_ID/exec"
VITE_ENABLE_TEST_SUITE=false